/* #whole-block{
    display: flex;
    align-items: center;
    justify-content: center;
} */
nav ul{
    display: flex;
    align-items: center;
    justify-content: end;
    list-style-type: none;
    gap: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    margin: 5px 10px;
    background-color: black;
    padding: 10px;
}
nav a{
    text-decoration: none;
    color: #ccc;
    background-color: black;
    box-sizing: border-box;
    padding: 10px;
    width: 20px;
}
p{
    color: #555;
    line-height: 1.6;
    font-style: italic;
    text-align: center;
    
}
.highlight{
    background-color: #f0f8ff;
    padding: 8px;
    margin: 10px 200px;
}
.intro{
    font-weight:bolder;
    font-style: italic;
    font-family: monospace;
    text-align: center;
    font-size: 35px;
    background-color:lightpink;
    border-radius: 55%;
    padding: 20px;
    margin: 0px 370px;
    box-shadow: 5px 5px 3px;
}
#header{
    color: #2c3e50;
    font-size: 32px;
    text-align: center;
    font-family: monospace;
    font-style: italic;
}
.box{
    border: 1px solid #ccc;
    box-sizing: border-box;
    box-shadow: 5px 5px 3px;
    padding: 16px;
    margin: 10px 250px;
}
#heading{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    text-align: center;
    background-color:lightpink;
    margin: 10px 550px 50px 550px;
    border-radius: 55%;
    padding: 15px;
    box-shadow: 5px 5px 3px;
}
#pblock{
    margin: 15px 400px;
}
